<div class="company-contacts mt-4">
  <form [formGroup]="form" (submit)="addCompanyContacts()">
    <div class="row ml-1 mt-4">
      <div class="col-sm-2">
        <h5>Контакти</h5>
        <hr
          class="mt-1"
          style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
        />
      </div>
      <div class="ml-4 col-sm-7">
        <button
          [disabled]="!isFormOnChange() || invalidForm()"
          type="submit"
          class="btn btn-contacts ml-2"
        >
          <i class="fas fa-plus-circle" aria-hidden="true"></i> Запази
        </button>
      </div>
    </div>
    <hr />
    <div class="row ml-1 mt-2 mr-2">
      <div class="col-sm-3 mb-1">
        <i
          class="fas fa-sm fa-map-marked-alt mt-2 mr-2"
          style="color: rgb(10, 187, 104)"
          aria-hidden="true"
        ></i>
        <span class="company-contact-label">Адрес: </span>
      </div>
      <div class="col-sm-9">
        <div *ngIf="getCompanyAddress()">
          <div class="form-group input-group">
            <input
              name="companyAddress"
              class="form-control form-control-sm"
              formControlName="companyAddress"
              title="Това поле е задължително"
              [(ngModel)]="companyContacts.companyAddress"
            />
          </div>
        </div>
        <div *ngIf="!getCompanyAddress()">
          <div class="form-group input-group">
            <input
              name="companyAddress"
              class="form-control form-control-sm"
              formControlName="companyAddress"
              title="Това поле е задължително"
              placeholder="Добавете местоположение"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="ml-1 row mr-2">
      <div class="col-sm-4">
        <i
          class="fa fa-sm fa-phone mt-2 mr-2"
          style="color: #06380a"
          aria-hidden="true"
        ></i>
        <span class="company-contact-label">Телефон: </span>
      </div>
      <div class="col-sm-7">
        <div class="form-group input-group" *ngIf="!getCompanyPhone()">
          <input
            name="companyPhone"
            class="form-control form-control-sm"
            type="text"
            placeholder="Добавете тел. за връзка"
            formControlName="companyPhone"
            title="Това поле е задължително"
          />
        </div>
        <div class="form-group input-group" *ngIf="getCompanyPhone()">
          <input
            name="companyPhone"
            class="form-control form-control-sm"
            type="text"
            formControlName="companyPhone"
            title="Това поле е задължително"
            [(ngModel)]="companyContacts.companyPhone"
          />
        </div>
      </div>
    </div>
    <div class="ml-1 row mr-2">
      <div class="col-sm-3">
        <i
          class="fa fa-sm fa-globe mt-2 mr-2"
          style="color: #1967d2"
          aria-hidden="true"
        ></i>
        <label class="company-contact-label form-label">Уебсайт: </label>
      </div>
      <div class="col-sm-9 mb-2">
        <div class="form-group input-group" *ngIf="!getCompanyWebsite()">
          <input
            name="companyWebsite"
            class="form-control form-control-sm"
            type="text"
            placeholder="Добавете уебсайт на вашата компания"
            formControlName="companyWebsite"
            title="Това поле е задължително"
          />
        </div>
        <div class="form-group input-group" *ngIf="getCompanyWebsite()">
          <input
            name="companyWebsite"
            class="form-control form-control-sm"
            type="text"
            formControlName="companyWebsite"
            title="Това поле е задължително"
            [(ngModel)]="companyContacts.companyWebsite"
          />
        </div>
      </div>
    </div>
  </form>
</div>
<ng-template #loader>
  <div class="no-freeze-spinner">
    <div id="no-freeze-spinner">
      <div>
        <i class="fas fa-phone-square-alt"></i>
        <div></div>
      </div>
    </div>
  </div>
</ng-template>
