<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light" style="height: 30vh">
    <div class="container">
      <hr class="mt-4" style="background: #179bd3; height: 2px" />
      <div class="row" style="padding-top: 2%">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
            <h4 class="widget-title" style="color: #179bd3">
              Juniors Platform<span></span>
            </h4>
            <p style="color: #179bd3; font-size: 12px">
              Започни своята ИТ кариера като намериш мечтаната работа при нас.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title" style="color: #179bd3">
              Линкове<span></span>
            </h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content">
                  <a href="#" style="color: #179bd3; font-size: 12px"
                    >Example1</a
                  >
                </div>
              </li>
              <li>
                <div class="thumb-content">
                  <a href="#" style="color: #179bd3; font-size: 12px"
                    >Example2</a
                  >
                </div>
              </li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title" style="color: #179bd3">
              Последвайте ни<span></span>
            </h5>
            <a href="#">
              <i class="fab fa-footer fa-facebook"> </i>
            </a>
            <a href="#">
              <i class="fab fa-footer fa-twitter"> </i>
            </a>
            <a href="#">
              <i class="fab fa-footer fa-linkedin"> </i>
            </a>
          </div>
        </div>
        <br />
        <br />
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title" style="color: #179bd3">
              Контакти<span></span>
            </h5>
            <i style="color: grey" class="fa fa-envelope mr-2"></i
            ><a style="color: #179bd3; font-size: 12px" href="#"
              >example@gmail.com</a
            ><br />
            <i style="color: grey" class="fa fa-phone mr-2"></i
            ><a style="color: #179bd3; font-size: 12px" href="#">123456789</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center" style="color: #179bd3">
          <p style="color: #179bd3; font-size: 12px">
            Copyright Design Sherif Hamdy © 2019. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
