<div class="modal-header">
  <h5 class="modal-title">Вход в платформата</h5>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<p class="mt-2 ml-3" style="font-family: 'Calibri Light'; font-size: 20px">
  Въведете вашите имейл и парола за вход.
</p>
<form [formGroup]="form" (submit)="auth()">
  <div class="modal-body">
    <div class="form-group input-group">
      <label for="username-login" class="form-label">Имейл: </label>
      <div class="ml-4 input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
      <input
        id="username-login"
        name="username"
        placeholder="thomas@smith.com"
        class="form-control"
        type="email"
        formControlName="username"
      />
    </div>
    <div class="form-group input-group">
      <label for="password-login" class="form-label">Парола: </label>
      <div class="input-group-prepend" style="margin-left: 19px">
        <span class="input-group-text">
          <i class="fa fa-lock"></i>
        </span>
      </div>
      <input
        id="password-login"
        name="password"
        class="form-control"
        type="password"
        formControlName="password"
      />
    </div>
    <div
      class="alert alert-danger ml-4 mr-4 text-center"
      *ngIf="badCredentials"
    >
      <span>{{ badCredentials }}</span>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <a
        class="btn mr-4"
        style="color: rgb(0, 89, 255)"
        (click)="openForgotPasswordModal()"
        data-dismiss="modal"
        >Забравена парола?</a
      >
      <button
        type="submit"
        class="btn btn-login btn-primary mr-3"
        [disabled]="invalid"
        style="width: 200px"
      >
        Вход
      </button>
    </div>
  </div>
</form>
