.company-contacts-icon {
  display: inline-block;
  color: #013c75;
}
.company-background-image {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  height: 85%;
}

.benefits {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.technologies {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
}
.fa-benefit {
  color: #179bd3;
}
.technologies-label {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}
textarea {
  resize: none;
}
.hr-subtitle {
  background: #179bd3;
  margin: 0px;
  padding: 0px;
  width: 100px;
}
.btn-technology {
  font-size: 15px;
  background-color: rgba(0, 225, 255, 0.315);
  color: rgb(0, 52, 165);
  border-color: rgb(0, 52, 165);
  border-radius: 15px;
}
.btn-open-modal {
  font-size: 0.8rem;
  background: rgba(66, 133, 244, 0.15);
  color: #1967d2;
  font-weight: bold;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.btn-open-modal:hover {
  background: rgb(153, 195, 252);
}

.btn-delete {
  font-size: 0.7rem;
  background: rgba(244, 66, 66, 0.15);
  color: #d21932;
  font-weight: bold;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.btn-delete:hover {
  background: rgba(247, 54, 54, 0.15);
}

.btn-delete-technology {
  font-size: 0.15rem;
  border: white;
  background: white;
}
.technologies-group {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  width: 135px;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}
.refresh-button {
  font-size: 1.2rem;
  background: rgba(54, 247, 86, 0.15);
  color: rgb(10, 187, 104);
}
.refresh-button:hover {
  background: rgba(2, 148, 26, 0.15);
}
