<div class="container-fluid mt-4" *ngIf="company; else loader">
  <div class="row ml-4">
    <div class="col-sm-4">
      <h1>За компанията</h1>
      <hr class="mt-2 mb-4" />
      <div *ngIf="getCompanyVideo()">
        <div class="row ml-1">
          <h5>Видео визитка</h5>
          <button
            type="button"
            class="btn ml-2"
            style="
              background: rgb(209, 56, 56);
              color: white;
              font-size: 0.8rem;
            "
            (click)="deleteCompanyVideo()"
          >
            <i class="fa fa-times mr-1" aria-hidden="true"></i> Премахни
          </button>
        </div>
        <hr class="hr-subtitle" />
        <hr class="hr-subtitle w-25 mb-1 mt-1" />
        <div class="embed-responsive embed-responsive-16by9 mt-1">
          <iframe
            class="embed-responsive-item"
            [src]="correctUrl"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div *ngIf="!getCompanyVideo()">
        <div>
          <h5>Видео визитка</h5>
        </div>
        <hr
          style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
        />
        <span>Добавете видео, представляващо вашата компания</span>
        <div class="form-group input-group w-75">
          <label for="company-video" class="form-label">Линк: </label>
          <div class="input-group-prepend ml-2">
            <span class="input-group-text">
              <i class="fab fa-youtube" aria-hidden="true"></i>
            </span>
          </div>
          <input
            id="company-video"
            name="urlPath"
            class="form-control form-control-sm"
            type="url"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="row mb-1">
        <div *ngIf="!getCompanyLogo()">
          <form [formGroup]="formLogo" (submit)="addCompanyLogo()">
            <input
              type="file"
              formControlName="logo"
              name="logo"
              (change)="onLogoSelect($event)"
            />
            <button
              type="submit"
              class="btn btn-outline-dark"
              style="font-size: 0.8rem"
            >
              <i class="fa fa-upload" aria-hidden="true"></i> Качи файл
            </button>
          </form>
        </div>
        <div *ngIf="getCompanyLogo()">
          <button
            type="button"
            class="btn ml-3 mr-2"
            style="
              background: rgb(209, 56, 56);
              color: white;
              font-size: 0.7rem;
            "
            (click)="deleteCompanyLogo()"
          >
            <i class="fa fa-trash mr-1" aria-hidden="true"></i> Изтрий лого
          </button>
          <img src="data:image/png;base64,{{ companyLogo['bytes'] }}" />
        </div>
        <h4 class="ml-2">{{ companyName }}</h4>
        <div class="col-sm-4"></div>
        <div *ngIf="getCompanyBackground()">
          <div class="justify-content-end">
            <button
              type="button"
              class="btn ml-3 mr-2"
              style="
                background: rgb(209, 56, 56);
                color: white;
                font-size: 0.7rem;
              "
              (click)="deleteCompanyBackground()"
            >
              <i class="fa fa-trash mr-1" aria-hidden="true"></i> Премахни
              снимка
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!getCompanyBackground()">
        <div class="dropzone border company-background-image">
          <form [formGroup]="formBackground" (submit)="addCompanyBackground()">
            <div
              class="row d-flex justify-content-center"
              style="margin-top: 40px; opacity: 0.1"
            >
              <i class="fas fa-cloud-upload-alt fa-6x" aria-hidden="true"></i>
            </div>
            <div class="row justify-content-center">
              <span class="mt-1 mb-1" style="font-size: 10px"
                >Тук можете да поставите снимка на компанията, която
                потребителите да видят, като отворят профила Ви.</span
              >
            </div>
            <div class="row justify-content-center">
              <input
                type="file"
                name="background"
                formControlName="background"
                (change)="onBackgroundSelect($event)"
              />
              <button
                type="submit"
                class="btn btn-outline-dark"
                style="font-size: 0.8rem"
              >
                <i class="fa fa-upload" aria-hidden="true"></i> Качи файл
              </button>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="getCompanyBackground()">
        <div class="dropzone border company-background-image">
          <img
            src="data:image/png;base64,{{ companyBackground['bytes'] }}"
            width="830"
            height="300"
          />
        </div>
      </div>
    </div>
  </div>
  <div>
    <form [formGroup]="formInformation" (submit)="uploadCompanyInformation()">
      <div class="row mt-4 ml-4">
        <div class="col-sm-5">
          <div *ngIf="getCompanyInformation()">
            <div class="row ml-1">
              <h5>Описание</h5>
            </div>
            <hr class="hr-subtitle" />
            <hr class="hr-subtitle w-25 mb-1 mt-1" />
            <div class="mb-4">
              <textarea
                class="form-control"
                rows="10"
                name="information"
                formControlName="information"
                [(ngModel)]="company.information"
              >
              </textarea>
            </div>
          </div>
          <div *ngIf="!getCompanyInformation()">
            <div class="row ml-1">
              <h5>Описание</h5>
            </div>
            <hr class="hr-subtitle" />
            <hr class="hr-subtitle mb-1 mt-1" />
            <span class="mb-4">Добавете описание за компанията.</span>
            <div class="form-group mt-2">
              <textarea
                class="form-control"
                rows="8"
                name="information"
                formControlName="information"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <div class="row ml-1 mt-2">
            <h4>Обяви</h4>
            <button
              type="button"
              class="btn ml-4"
              style="font-size: 0.8rem; background: #3ea6ff; color: white"
            >
              <i class="fas fa-plus-circle" aria-hidden="true"></i> Добави обява
            </button>
          </div>
          <hr class="hr-subtitle" />
          <hr class="hr-subtitle w-50 mb-4 mt-1" />
          <span class="mb-4">Няма текущи обяви.</span>
        </div>
        <hr />
      </div>
      <div class="row ml-4">
        <div class="col-sm-4">
          <div class="row ml-1">
            <h4>Технологии</h4>
            <button
              type="button"
              class="btn btn-open-modal ml-4"
              (click)="openTechnologiesModal()"
            >
              <i class="fas fa-check-circle" aria-hidden="true"></i> Избери
            </button>
          </div>
          <hr class="hr-subtitle" />
          <hr class="hr-subtitle w-50 mb-1 mt-1" />
          <div *ngIf="!getCompanyTechnologies()">
            <span class="mb-4"
              >Добавете технологиите, с които се занимава компанията.</span
            >
          </div>
          <div *ngIf="getCompanyTechnologies()">
            <div class="row mt-1 ml-2">
              <div class="col-sm-4" *ngFor="let t of companyTechnologies">
                <div class="form-group input-group technologies-group">
                  <input
                    disabled
                    class="form-control"
                    style="font-size: 20; background: none; border: none"
                    value="{{ t.technology }}"
                  />
                  <button
                    class="btn mr-2"
                    style="background: none; width: 1px"
                    value="{{ t.id }}"
                  >
                    <i
                      class="fa fa-times fa-1x"
                      style="color: rgb(216, 40, 40)"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div #newTech *ngIf="showNewTech()">
            <div class="row mt-2 ml-2">
              <div class="col-sm-4" *ngFor="let t of technologies">
                <div class="form-group input-group technologies-group">
                  <input
                    disabled
                    class="form-control"
                    style="font-size: 20; background: none; border: none"
                    value="{{ t.technology }}"
                  />
                  <button
                    type="button"
                    class="btn mr-2"
                    style="background: none; width: 1px"
                    value="{{ t.id }}"
                    (click)="deleteNewTech(t.id)"
                  >
                    <i
                      class="fa fa-times fa-1x"
                      style="color: rgb(19, 18, 18)"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <button
            type="submit"
            class="btn ml-4 text-center"
            style="font-size: 1.2rem; background: #3ea6ff; color: white"
          >
            <i class="fas fa-plus-circle" aria-hidden="true"></i> Добави
            информация
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #loader>
  <app-loader-spinner></app-loader-spinner>
</ng-template>
