.company-contacts-icon {
  display: inline-block;
  color: #013c75;
}
.company-background-image {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  height: 85%;
}
.company-contacts {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
}
.benefits {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.technologies {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
}
.fa-benefit {
  color: #179bd3;
}
.technologies-label {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}
textarea {
  resize: none;
}
.hr-subtitle {
  background: #179bd3;
  margin: 0px;
  padding: 0px;
  width: 100px;
}
.btn-technology {
  font-size: 15px;
  background-color: rgba(0, 225, 255, 0.315);
  color: rgb(0, 52, 165);
  border-color: rgb(0, 52, 165);
  border-radius: 15px;
}
.btn-open-modal {
  font-size: 0.8rem;
  background: #1fc0b3;
  color: white;
}
