<div class="container-fluid mt-4">
  <div class="row ml-4">
    <div class="col-sm-4">
      <h4>За компанията</h4>
      <hr
        style="background: #179bd3; margin: 0px; padding: 0px; width: 100px"
      />
      <hr
        class="mb-4 mt-1"
        style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
      />
      <div class="row ml-1">
        <h5>Видео визитка</h5>
        <button
          type="submit"
          class="btn ml-4"
          style="font-size: 0.8rem; background: #3ea6ff; color: white"
        >
          <i class="fas fa-plus-circle" aria-hidden="true"></i> Добавяне на
          видеоклип
        </button>
      </div>
      <hr style="background: #179bd3; margin: 0px; padding: 0px; width: 50px" />
      <!-- <div class="embed-responsive embed-responsive-16by9 mt-1">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
          allowfullscreen
        ></iframe>
      </div> -->
      <span>Добавете видео, представляващо вашата компания</span>
      <div class="form-group input-group w-75">
        <label for="company-video" class="form-label">Линк: </label>
        <div class="input-group-prepend ml-2">
          <span class="input-group-text">
            <i class="fab fa-youtube" aria-hidden="true"></i>
          </span>
        </div>
        <input
          id="company-video"
          name="urlPath"
          class="form-control form-control-sm"
          type="url"
        />
      </div>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <input type="file" name="file" />
        <button
          type="submit"
          class="btn btn-outline-secondary"
          style="font-size: 0.8rem"
        >
          <i class="fa fa-upload" aria-hidden="true"></i> Качи файл
        </button>
        <h4 class="ml-2">MentorMate.Ltd</h4>
      </div>
      <hr
        style="background: #179bd3; margin: 0px; padding: 0px; width: 100px"
      />
      <hr
        class="mb-4 mt-1"
        style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
      />
      <div class="dropzone border h-75 company-background-image">
        <div
          class="row d-flex justify-content-center"
          style="margin-top: 40px; opacity: 0.1"
        >
          <i class="fas fa-cloud-upload-alt fa-6x" aria-hidden="true"></i>
        </div>
        <div class="row justify-content-center">
          <span class="mt-1 mb-1" style="font-size: 10px"
            >Тук можете да поставите снимка на компанията, която потребителите
            да видят, като отворят профила Ви.</span
          >
        </div>
        <div class="row justify-content-center">
          <input type="file" />
          <button
            type="submit"
            class="btn btn-outline-secondary"
            style="font-size: 0.8rem"
          >
            <i class="fa fa-upload" aria-hidden="true"></i> Качи файл
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 ml-4">
    <div class="col-sm-6">
      <div class="row ml-1">
        <h5>Описание</h5>
        <button
          type="submit"
          class="btn ml-4"
          style="font-size: 0.8rem; background: #3ea6ff; color: white"
        >
          <i class="fas fa-plus-circle" aria-hidden="true"></i> Добавяне на
          описание
        </button>
      </div>
      <hr
        style="background: #179bd3; margin: 0px; padding: 0px; width: 100px"
      />
      <hr
        class="mb-4 mt-1"
        style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
      />
      <span class="mb-4">Добавете описание за компанията.</span>
      <div class="form-group mt-2">
        <textarea class="form-control" rows="8"></textarea>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <div class="row ml-1 mt-2">
        <h4>Обяви</h4>
        <button
          type="submit"
          class="btn ml-4"
          style="font-size: 0.8rem; background: #3ea6ff; color: white"
        >
          <i class="fas fa-plus-circle" aria-hidden="true"></i> Добави обява
        </button>
      </div>
      <hr
        style="background: #179bd3; margin: 0px; padding: 0px; width: 100px"
      />
      <hr
        class="mb-4 mt-1"
        style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
      />
      <span class="mb-4">Няма текущи обяви.</span>
    </div>
    <hr />
  </div>
  <div class="row ml-4">
    <div class="col-sm-6">
      <div class="row ml-1">
        <h4>Технологии</h4>
        <button
          type="submit"
          class="btn ml-4"
          style="font-size: 0.8rem; background: #3ea6ff; color: white"
        >
          <i class="fas fa-plus-circle" aria-hidden="true"></i> Добави
        </button>
      </div>
      <hr
        style="background: #179bd3; margin: 0px; padding: 0px; width: 100px"
      />
      <hr
        class="mb-1 mt-1"
        style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
      />
      <span class="mb-4"
        >Добавете технологиите, с които се занимава компанията.</span
      >
      <div class="technologies">
        <div class="row mt-4 ml-2">
          <div class="col-sm-4 mt-2" *ngFor="let t of technology$ | async">
            <div class="custom-control custom-switch rounded">
              <input type="checkbox" class="custom-control-input" />
              <label class="custom-control-label" style="font-size: 20px">{{
                t.technology
              }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ml-4 mt-4">
    <div class="col-sm-8">
      <div class="row ml-1">
        <h4>Придобивки</h4>
        <button
          type="submit"
          class="btn ml-4"
          style="font-size: 0.8rem; background: #3ea6ff; color: white"
        >
          <i class="fas fa-plus-circle" aria-hidden="true"></i> Добави
        </button>
      </div>
      <hr
        style="background: #179bd3; margin: 0px; padding: 0px; width: 100px"
      />
      <hr
        class="mb-1 mt-1"
        style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
      />
      <span class="mb-4"
        >Добавете придобивките, които фирмата предлага на своите
        служители.</span
      >
      <div class="benefits">
        <div class="row mt-4">
          <div class="col-sm-4 mt-2" *ngFor="let b of benefit$ | async">
            <div class="custom-control custom-switch rounded">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customSwitch1"
              />
              <label
                class="custom-control-label"
                style="font-size: 20px"
                for="customSwitch1"
                >{{ b.benefit }}</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container company-contacts">
    <div class="row mt-4 mb-4">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <div class="row ml-1 mt-4">
          <h3>Контакти</h3>
          <button
            type="submit"
            class="btn ml-4 w-25"
            style="font-size: 0.8rem; background: #3ea6ff; color: white"
          >
            <i class="fas fa-plus-circle" aria-hidden="true"></i> Запази
          </button>
        </div>
        <hr
          style="background: #179bd3; margin: 0px; padding: 0px; width: 100px"
        />
        <hr
          class="mt-1"
          style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
        />
      </div>
    </div>
    <hr />
    <div class="row mt-4">
      <div class="col-sm-3 mb-1 ml-4">
        <i
          class="fa fa-lg fa-map-marker mt-2 mr-2 company-contacts-icon"
          aria-hidden="true"
        ></i>
        <label style="font-size: 25px" class="form-label">Адрес: </label>
        <hr
          class="ml-4"
          style="background: #6e7f86; margin: 0px; padding: 0px; width: 50px"
        />
        <hr
          class="mt-1 ml-4"
          style="background: #6e7f86; margin: 0px; padding: 0px; width: 35px"
        />
      </div>
      <div class="col-sm-4">
        <i
          class="fa fa-lg fa-phone mt-2 mr-2 company-contacts-icon"
          aria-hidden="true"
        ></i>
        <label style="font-size: 25px" class="form-label">Телефон: </label>
        <hr
          class="ml-4"
          style="background: #6e7f86; margin: 0px; padding: 0px; width: 50px"
        />
        <hr
          class="mt-1 ml-4"
          style="background: #6e7f86; margin: 0px; padding: 0px; width: 35px"
        />
      </div>
      <div class="col-sm-4">
        <i
          class="fa fa-lg fa-globe mt-2 mr-2 company-contacts-icon"
          aria-hidden="true"
        ></i>
        <label style="font-size: 25px" class="form-label">Уебсайт: </label>
        <hr
          class="ml-4"
          style="background: #6e7f86; margin: 0px; padding: 0px; width: 50px"
        />
        <hr
          class="mt-1 ml-4"
          style="background: #6e7f86; margin: 0px; padding: 0px; width: 35px"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 ml-4">
        <div class="form-group input-group">
          <input
            name="address"
            class="form-control form-control-sm"
            type="text"
          />
        </div>
      </div>
      <div class="col-sm-4 mb-4">
        <div class="form-group input-group">
          <input
            name="phone"
            class="form-control form-control-sm"
            type="text"
          />
        </div>
      </div>
      <div class="col-sm-4 mb-4">
        <div class="form-group input-group">
          <input
            name="website"
            class="form-control form-control-sm"
            type="text"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row ml-4">
    <div class="col-sm-4">
      <h4>Контакти</h4>
      <hr
        style="background: #179bd3; margin: 0px; padding: 0px; width: 100px"
      />
      <hr
        class="mb-4 mt-1"
        style="background: #179bd3; margin: 0px; padding: 0px; width: 50px"
      />
      <div class="border company-contacts">
        <div class="ml-4 mt-2 mr-4 mb-2">
          <h6>
            <i
              class="fa fa-envelope-open mt-4 mr-2 company-contacts-icon"
              aria-hidden="true"
            ></i
            >Имейл:
          </h6>
          <hr
            class="ml-4"
            style="background: #6e7f86; margin: 0px; padding: 0px; width: 50px"
          />
          <hr
            class="mt-1 ml-4"
            style="background: #6e7f86; margin: 0px; padding: 0px; width: 35px"
          />
          <h6>
            <i
              class="fa fa-phone mt-4 mr-2 company-contacts-icon"
              aria-hidden="true"
            ></i
            >Телефон:
          </h6>
          <hr
            class="ml-4"
            style="background: #6e7f86; margin: 0px; padding: 0px; width: 50px"
          />
          <hr
            class="mt-1 ml-4"
            style="background: #6e7f86; margin: 0px; padding: 0px; width: 35px"
          />
          <h6>
            <i
              class="fa fa-map-marker mt-4 mr-2 company-contacts-icon"
              aria-hidden="true"
            ></i
            >Адрес:
          </h6>
          <hr
            class="ml-4"
            style="background: #6e7f86; margin: 0px; padding: 0px; width: 50px"
          />
          <hr
            class="mt-1 ml-4"
            style="background: #6e7f86; margin: 0px; padding: 0px; width: 35px"
          />
          <h6>
            <i
              class="fa fa-globe mt-4 mr-2 company-contacts-icon"
              aria-hidden="true"
            ></i
            >Уебсайт:
          </h6>
          <hr
            class="ml-4"
            style="background: #6e7f86; margin: 0px; padding: 0px; width: 50px"
          />
          <hr
            class="mt-1 ml-4"
            style="background: #6e7f86; margin: 0px; padding: 0px; width: 35px"
          />
        </div>
      </div>
    </div> -->
</div>
