<div class="mt-4">
  <div *ngFor="let c of companyJob$ | async">
    <table class="table">
      <tbody>
        <tr>
          <div>
            <a
              class="table-href"
              title="{{ c.title }}"
              [routerLink]="['/job/view', c.id]"
            >
              <td style="border-top: none">
                <img
                  src="data:image/png;base64,{{ c.logo['bytes'] }}"
                  width="75"
                  height="22"
                />
              </td>
              <td style="color: grey; border-top: none">
                {{ c.title.substring(0, 24) }}...
              </td>
              <td style="color: grey; border-top: none">
                <i
                  style="color: rgb(16, 127, 201)"
                  class="fas fa-street-view"
                ></i>
                гр. {{ c.city }}
              </td>
              <td style="color: grey; border-top: none">
                <button class="btn btn-date">
                  <i class="fas fa-calendar-alt"></i>
                  {{ c.date }}
                </button>
              </td>
            </a>
          </div>
          <td style="border-top: none">
            <a
              class="btn-edit"
              [routerLink]="['/company/edit/job', c.id]"
              title="Редактирай"
            >
              <i class="fas fa-pen-square"></i>
            </a>
            <button
              type="button"
              class="btn-remove ml-3"
              title="Изтрий"
              (click)="deleteJob(c.id)"
            >
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
