<div class="mt-4">
  <div *ngFor="let uj of userFavJobs$ | async">
    <table class="table">
      <tbody>
        <tr>
          <div>
            <a
              class="table-href"
              title="{{ uj.title }}"
              [routerLink]="['/job/view', uj.id]"
            >
              <td style="color: grey; border-top: none">
                {{ uj.title.substring(0, 24) }}...
              </td>
              <td style="color: grey; border-top: none">
                <i
                  style="color: rgb(16, 127, 201)"
                  class="fas fa-street-view"
                ></i>
                гр. {{ uj.city }}
              </td>
              <td style="border-top: none">
                <button class="btn btn-date">
                  <i class="fas fa-calendar-alt"></i>
                  {{ uj.date | date: "MMM, d" }}
                </button>
              </td>
            </a>
          </div>
          <td style="border-top: none">
            <button
              type="button"
              class="btn btn-remove ml-3"
              title="Премахни от запазени"
              (click)="removeFavJob(uj.id)"
            >
              <i class="fas fa-heart icon-heart"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
