<div class="mt-4">
  <div *ngFor="let uj of userApplicationJobs$ | async">
    <table class="table">
      <tbody>
        <tr>
          <div>
            <a
              class="table-href"
              title="{{ uj.title }}"
              [routerLink]="['/job/view', uj.id]"
            >
              <td style="color: grey">{{ uj.title.substring(0, 24) }}...</td>
              <td style="color: grey">
                <i
                  style="color: rgb(16, 127, 201)"
                  class="fas fa-street-view"
                ></i>
                гр. {{ uj.city }}
              </td>
              <td>
                <button class="btn btn-date">
                  <i class="fas fa-calendar-alt"></i>
                  {{ uj.date | date: "MMM, d" }}
                </button>
              </td>
            </a>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>
