.hr-subtitle {
  background: #179bd3;
  margin: 0px;
  padding: 0px;
  width: 100px;
}
.table {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  width: 90vh;
}
.table:hover {
  transform: scale(1.02);
}
.table-href {
  text-decoration: none;
}
.table-href:hover {
  text-decoration: none;
}
.technologies-group {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  width: 115px;
}
.benefits {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.code-icon {
  color: #179bd3;
}
.company-contacts {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  width: 950px;
}
.sub-line {
  background: #179bd3;
  margin: 0px;
  padding: 0px;
  width: 35px;
}
