.btn-save {
  font-size: 0.8rem;
  color: #50c083;
  background: white;
  border-color: #50c083;
}
.btn-save:hover:enabled {
  color: white;
  background: #50c083;
}
.btn-save:disabled {
  cursor: not-allowed;
}
input.ng-invalid.ng-touched {
  border: 1px solid #bd2130;
}
input.ng-valid.ng-touched {
  border: 1px solid #048f04;
}
