<div class="mt-4 mb-4" *ngIf="jobOfferView; else loader">
  <div class="row">
    <div class="col-sm-6">
      <div class="row title-row">
        <div
          class="col-sm-2"
          style="border-right: rgb(216, 213, 213) 1px dotted"
        >
          <img
            class="mt-2"
            src="data:image/png;base64,{{ companyLogo['bytes'] }}"
            width="90"
            height="42"
          />
        </div>
        <div class="col-sm-6 mt-2">
          <h2 style="font-weight: bold; color: grey">
            {{ jobOfferView.title }}
          </h2>
        </div>
        <div class="col-sm-3 mb-1">
          <span style="font-size: 11px; color: rgb(165, 164, 164)"
            >Публикувана на:</span
          >
          <button class="btn btn-date">
            <i class="fas fa-calendar-alt"></i>
            {{ jobOfferView.date | date: "longDate" }}
          </button>
        </div>

        <div class="col-sm-1 mt-3">
          <form [formGroup]="formFavJob" (submit)="addJobFav()">
            <button
              type="submit"
              value="{{ jobId }}"
              class="btn btn-fav"
              [disabled]="!userRole"
            >
              <i
                title="Добави в запазени"
                [disabled]="!userRole"
                class="icon-heart fas fa-heart"
              ></i>
            </button>
          </form>
        </div>
      </div>

      <div class="row info-row mt-3 justify-content-center">
        <div class="col-sm-3 mt-1 mb-1">
          <span style="font-size: 11px; color: rgb(165, 164, 164)"
            >Месторабота:</span
          >
          <i
            style="color: rgb(16, 127, 201)"
            class="fas fa-street-view ml-2 mr-1"
          ></i>
          <span
            style="font-size: 12px; font-weight: bold; color: rgb(16, 127, 201)"
            >{{ jobOfferView.city }}</span
          >
        </div>
        <div class="col-sm-3 mt-1 mb-1">
          <i
            style="color: rgb(139, 143, 145)"
            class="fas fa-business-time mr-1"
          ></i>
          <span style="font-size: 12px; color: rgb(139, 143, 145)">{{
            getWorkingTimeValue()
          }}</span>
        </div>
        <div class="col-sm-3 mt-1 mb-1">
          <div *ngIf="isRemoteInterview()">
            <i
              style="color: rgb(112, 166, 236)"
              class="fas fa-laptop-code mr-1"
            ></i>
            <span style="font-size: 12px; color: rgb(139, 143, 145)"
              >Дистанционно интервю</span
            >
          </div>
        </div>
        <div *ngIf="isHasSalary()">
          <div class="col-sm-3 mt-1 mb-1">
            <i style="color: rgb(223, 196, 48)" class="fas fa-coins mr-2"></i>
            <span style="font-size: 12px; color: rgb(139, 143, 145)"
              >Заплащане: {{ jobOfferView.salary }}лв.</span
            >
          </div>
        </div>
      </div>
      <div class="row technologies-row mt-3">
        <div class="col-sm-5 mt-1">
          <span style="font-size: 12px; color: rgb(139, 143, 145)"
            >Категория:
          </span>
          <button class="btn btn-category">
            <i class="fas fa-code ml-2 mr-1"></i>
            {{ jobOfferView.category }}
          </button>
        </div>
        <div class="col-sm-1 mt-1 mr-3">
          <span style="font-size: 12px; color: rgb(139, 143, 145)"
            >Технологии:
          </span>
        </div>
        <div class="col-sm-1 mt-1" *ngFor="let jt of jobOfferTechnologies">
          <div class="form-group input-group technologies-group">
            <button class="btn btn-category" title="{{ jt.technology }}">
              {{ jt.technology }}
            </button>
          </div>
        </div>
      </div>
      <div class="row description-row mt-4">
        <span
          style="text-align: center; border-left: solid 5px #50c083"
          class="mb-4 mt-4 ml-4 mr-4"
          >{{ jobOfferView.description }}</span
        >

        <div
          class="container-fluid text-center mt-4 mb-4"
          *ngIf="userRole && !isDeletedJob()"
        >
          <form [formGroup]="formApplyJob" (submit)="applyJob()">
            <button
              style="text-align: center"
              class="btn btn-apply"
              [disabled]="!userRole"
            >
              <i class="far fa-share-square"></i>
              Кандидатствай
            </button>
          </form>
        </div>
        <div
          class="container-fluid text-center mt-4 mb-4"
          *ngIf="isDeletedJob()"
        >
          <button style="text-align: center" class="btn btn-apply" disabled>
            <i class="far fa-share-square"></i>
            Кандидатствай
          </button>
          <br />
          <span
            style="font-size: 14px; color: rgb(196, 79, 85); font-weight: bold"
            >Обявата е премахната.</span
          >
        </div>
        <div
          class="container-fluid text-center mt-4 mb-4"
          *ngIf="!userRole && !isDeletedJob()"
        >
          <button style="text-align: center" class="btn btn-apply" disabled>
            <i class="far fa-share-square"></i>
            Кандидатствай</button
          ><br />
          <span
            style="font-size: 14px; color: rgb(196, 79, 85); font-weight: bold"
            >За да кандидатствате по обявата, трябва да се логнете като
            потребител в системата.</span
          >
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div class="row">
        <h3 style="font-weight: bold; color: grey">За компанията:</h3>
      </div>
      <div class="row company-row">
        <div class="card">
          <div class="text-center">
            <img
              class="mt-2 ml-4 mb-2"
              src="data:image/png;base64,{{ companyLogo['bytes'] }}"
              width="200"
              height="60"
            />
          </div>
          <hr />
          <div class="card-body">
            <h3 class="card-title">
              {{ companyName }}
            </h3>
            <p
              style="border-left: #50c083 solid 5px"
              class="text-center card-text"
            >
              {{ companyDescription }}...
            </p>
          </div>
          <div class="card-footer text-center">
            <a
              class="btn btn-company-profile"
              [routerLink]="['/company/', companyId]"
              ><i class="fas fa-info-circle"></i> Повече за компанията</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="no-freeze-spinner">
    <div id="no-freeze-spinner">
      <div>
        <i class="fas fa-briefcase"></i>
        <div></div>
      </div>
    </div>
  </div>
</ng-template>
