<div class="container mt-2">
  <div class="row">
    <div class="col-sm-4">
      <h3>Лични данни:</h3>
      <span>Можете да видите и редактирате вашите данни</span>
      <hr style="background: #179bd3" />
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h3>
        Запазени обяви:
        <button type="submit" class="btn btn-primary">Добави</button>
      </h3>
      <span>Тук може да видите всички запазени обяви</span>
      <hr style="background: #179bd3" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 border mt-2 personal-info">
      <h5 class="mt-4">
        <i
          class="mr-2 fa fa-envelope-open"
          style="color: grey"
          aria-hidden="true"
        ></i
        >Имейл: {{ user.username }}
      </h5>
      <h5 class="mt-4">
        <i class="mr-2 fa fa-user" style="color: grey" aria-hidden="true"></i
        >Име и фамилия: {{ user.firstName }} {{ user.lastName }}
      </h5>
      <h5 class="mt-4">
        <i
          class="mr-2 fa fa-file-pdf"
          style="color: grey"
          aria-hidden="true"
        ></i
        >Моето CV:
      </h5>
      <button type="submit" class="btn btn-primary mt-4 mb-2">
        Промяна на парола
      </button>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4 border mt-2 personal-info">
      <h5 class="mt-4">Java</h5>
      <h5 class="mt-4">Spring</h5>
      <h5 class="mt-4"></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 mt-2"></div>
    <div class="col-sm-4 mt-4">
      <h3>Лични данни:</h3>
      <span>Можете да видите и редактирате вашите данни</span>
      <hr style="background: #179bd3" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 mt-2"></div>
    <div class="col-sm-4 border mt-2 personal-info">
      <h5 class="mt-4">
        <i
          class="mr-2 fa fa-envelope-open"
          style="color: grey"
          aria-hidden="true"
        ></i
        >Имейл:
      </h5>
      <h5 class="mt-4">
        <i class="mr-2 fa fa-user" style="color: grey" aria-hidden="true"></i
        >Име и фамилия:
      </h5>
      <h5 class="mt-4">
        <i
          class="mr-2 fa fa-file-pdf"
          style="color: grey"
          aria-hidden="true"
        ></i
        >Моето CV:
      </h5>
      <button type="submit" class="btn btn-primary mt-4 mb-2">
        Промяна на парола
      </button>
    </div>
  </div>
</div>
