.email-section:hover {
  transform: scale(1.03);
}
.pass-section:hover {
  transform: scale(1.03);
}
.cv-section:hover {
  transform: scale(1.03);
}
.name-section:hover {
  transform: scale(1.03);
}

.edit-password.ng-invalid.ng-touched {
  border: 1px solid #bd2130;
}
.edit-password.ng-valid.ng-touched {
  border: 1px solid #048f04;
}

.personal-info {
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
}

.btn:disabled {
  cursor: not-allowed;
}
.href-cv {
  color: blue;
}
.href-cv:hover {
  cursor: pointer;
}
